<div class="w-full xl:w-6/12 flex flex-col gap-10 xl:gap-20 px-4 lg:mx-auto my-5">
  <div class="flex justify-between items-center">
    <p class="text-3xl font-black tracking-wide">CED</p>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>

  <app-profile></app-profile>

  <hr />

  <app-story></app-story>

  <app-interest></app-interest>

  <hr />

  <app-experience></app-experience>

  <hr />

  <app-skills></app-skills>

  <hr />

  <app-projects></app-projects>

  <div class="flex justify-center border-t pt-5">
    <p class="text-sm tracking-wide muted-text">© 2026 Cedrick Bayhon. All rights reserved.</p>
  </div>
</div>
<router-outlet></router-outlet>
