<div>
  <p class="flex items-center gap-2 text-2xl font-bold tracking-wide mb-10"><img src="assets/images/story.png" class="w-10 h-auto -mt-1" /> My story, in short</p>

  <div>
    <div *ngFor="let story of storyList" class="flex gap-5 xl:gap-10">
      <p class="w-20 text-right muted-text py-5">{{story.date}}</p>
      <div class="border-l border-dashed ml-2">
        <div class="w-4 h-4 rounded-[50%] border-2 bg-white -ml-2 mt-[24px]"></div>
      </div>
      <div class="w-full py-5">
        <div class="flex gap-2">
          <p class="text-lg font-bold">{{story.title}}</p>
          <img [src]="story.icon" class="w-8 h-auto flex-shrink-0" />
        </div>
        <ul class="mt-2">
          <li *ngFor="let desc of story.description" class="mb-2 ml-5">{{desc}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
