<div class="flex flex-col gap-12 md:gap-16 md:px-4">
  <p #introText class="text-6xl md:text-8xl font-bold text-center md:text-left">Turning <span class="text-6xl md:text-8xl font-bold text-white bg-blue-500">complex ideas</span> into intuitive, high-performing <span class="text-6xl md:text-8xl font-bold accent-a">front-end solutions.</span></p>

  <div class="flex flex-col md:flex-row justify-center lg:justify-start items-center gap-5">
    <img #profilePic src="assets/images/profile.jpg" class="w-28 h-28 rounded-[50%] flex-shrink-0" />

    <div>
      <p #myName class="text-3xl font-bold tracking-wide">Cedrick Bayhon</p>
      <p #myPosition class="font-medium tracking-wide muted-text text-center md:text-left">Front-End Developer</p>
    </div>
  </div>

  <div class="flex flex-col gap-10">
    <p #myDescription class="w-full lg:w-8/12 text-center lg:text-left muted-text">I’m a Front-end developer with <span class="font-bold">7 years of experience</span> specializing in converting design concepts into clean, responsive HTML5 websites. Experienced in transforming PSD, Adobe XD, and Figma layouts into pixel-perfect, well-structured code. Skilled in creating mobile-friendly interfaces and performing cross-browser testing to deliver high-quality, visually accurate, and reliable front-end solutions.</p>

    <div #emailBtn class="flex gap-2">
      <!-- <div class="flex items-center gap-3 px-6 py-3 bg-[#25D366] rounded-xl shadow-md">
        <img src="assets/images/whatsapp.png" class="w-5 h-auto" />
        <p class="text-sm font-bold text-white tracking-wide">+971 50 646 1492</p>
      </div> -->

      <a href="mailto:bayhoncedrick@gmail.com" class="mx-auto lg:mx-0 flex items-center gap-3 px-6 py-3 bg-white rounded-xl shadow-md email-button transition-transform duration-100 ease-in hover:scale-105">
        <img src="assets/images/gmail.png" class="w-5 h-auto" />
        <p class="text-sm font-medium tracking-wide">bayhoncedrick@gmail.com</p>
      </a>
    </div>
  </div>
</div>
