@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #3a3a3a;
  --accent-a: #93c5fd ;
  --accent-b: #f2b705;
  --muted-text: #a5a5a5;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: var(--primary-text);
}

body {
background: #e8f7fc;
background: linear-gradient(100deg, rgba(232, 247, 252, 1) 0%, rgba(255, 255, 255, 1) 33%, rgba(255, 255, 255, 1) 60%, rgba(240, 255, 232, 1) 100%);
}

.accent-a {
  color: var(--accent-a);
}
.accent-b {
  color: var(--accent-b);
}
.muted-text {
  color: var(--muted-text);
}

.dark-background {
  background-color: var(--primary-text);
}
